<a href="https://colab.research.google.com/github/AnmolHemani/Python/blob/main/Day_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# tuple
# it is immutable
tuple1=(1,2,3,4,"hey")
print(tuple1)

(1, 2, 3, 4, 'hey')

In [3]:
tuple1=1,2,3,4,"hey"
print(tuple1)
print(tuple1[0])

(1, 2, 3, 4, 'hey')
1

In [7]:
# datatype in python

# 1. numeric --> int,float,complex,boolean
# 2. sequence --> list,tuple,string
# 3. dictionary
# 4. set --> set and frozen set

In [6]:
# list , dictionary and set are mutuable  and rest are immuatble datatype
# if memory address is same when we change the values then it is mutuable data type
# if u r creating a new memory address is it called immutable data type
a=10
b=a
print(id(a),id(b))
a=20
print(id(a),id(b))

10751144 10751144
10751464 10751144

In [8]:
# dictionary
# key and value
# key = unique (identifier)
# value = duplicate or unique
# {}
# mutuable data type
# there is no index position
# ordered collection

In [12]:
mydict={1:"Anmol", 2:"Hemani","city":"Jaipur"}
print(mydict)
len(mydict)

{1: 'Anmol', 2: 'Hemani', 'city': 'Jaipur'}

3

In [21]:
mydict={1:"Anmol", 2:"Hemani","city":"Jaipur"}
mydict[2]="Dhruv"   #update
mydict[4]="Hemani"  #insert
print(mydict)

{1: 'Anmol', 2: 'Dhruv', 'city': 'Jaipur', 4: 'Hemani'}

In [28]:
mydict={1:"Anmol", 2:"Hemani","city":"Jaipur"}
# help(mydict)  to find out all data types and help will provide us the documentation

for i in mydict:
  print(i,mydict[i])

1 Anmol
2 Hemani
city Jaipur

In [33]:
mydict={1:"Anmol", 2:"Hemani","city":"Jaipur"}
for i in mydict.keys():
  print(i)
for i in mydict.values():
  print(i)

1
2
city
Anmol
Hemani
Jaipur

In [42]:
mydict={1:"Anmol", 2:"Hemani","city":"Jaipur"}
for i in mydict.items():
  print(i)
  print(i[1])

(1, 'Anmol')
Anmol
(2, 'Hemani')
Hemani
('city', 'Jaipur')
Jaipur

In [39]:
x=(10,20)
a=x[0]
b=x[1]
print(a,b)

10 20

In [40]:
x=(10,20)
a,b=x  #tuple unpacking
print(a,b)

10 20

In [44]:
mydict={"x":100}
mydict["x"]=mydict["x"]+50
print(mydict)

{'x': 150}

In [46]:
mydict={"count":0}
str1="hello"
for i in str1:
  mydict["count"]+=1
print(mydict)

{'count': 5}

In [51]:
mydict={"count":0}
str1="hello"
for i in str1:
  if i in "aeiouAEIOU":
    mydict["count"]+=1
print(mydict)

{'count': 2}

In [55]:
# "hey"={"h":1,"e":1,"y":1}
mydict={}
str1="hey"
for i in str1:
  mydict[i]=1
print(mydict)

{'h': 1, 'e': 1, 'y': 1}

In [65]:
# "heey"={"h":1,"e":1,"e":2,y":1}
mydict={}
str1="heey"
for i in str1:
  if i not in mydict:
    mydict[i]=1
  else:
    mydict[i]+=1
print(mydict)

{'h': 1, 'e': 2, 'y': 1}

In [69]:
mydict={}
str1="heey helloo"
for i in str1:
  if i in "aeiouAEIOU":
    if i not in mydict:
      mydict[i]=1
    else:
      mydict[i]+=1
print(mydict)

# 2 method
# mydict={"a":0,"e":0,"i":0,"o":0,"u":0}
# str1="heey helloo"
# for i in str1:
#   if i in "aeiou":
#     mydict[i]+=1
# print(mydict)

{'e': 3, 'o': 2}

In [97]:
# two sum
list1=[1,2,3,7,11,13]
mydict={}
k=9
for i in range(0,len(list1)):
  mydict[list1[i]]=i
print(mydict)
for j in mydict:
  if k-j in mydict:
    print(j,k-j)

{1: 0, 2: 1, 3: 2, 7: 3, 11: 4, 13: 5}
2 7
7 2