<a href="https://colab.research.google.com/github/AnmolHemani/Python/blob/main/Day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# num is div by all 2,6,7 using while loop

n=42
count=0
while(count<10):
  if(n%2==0 and n%6==0 and n%7==0):
    print(n)
    count+=1
  n+=1

42
84
126
168
210
252
294
336
378
420

In [ ]:
# we have value of a and b find the first num which is div by both a and b
# using while loop

a=3
b=7
num=1
while(True):
  if num%a==0 and num%b==0:
    print(num)
    break
  num+=1

21

In [ ]:
# to take two num and find out the lcm of the num

a=5
b=9
if a>b:
  num=a
else:
  num=b
while(True):
  if num%a==0 and num%b==0:
    print("lcm : ",num)
    break
  num+=1

lcm :  45

In [ ]:
# palindrome str

# 1 method
# data='NAMAN'
# start=0
# end=len(data)-1
# x=0
# while(start<end):
#   if data[start]==data[end]:
#     x=0
#   else:
#     x+=1
#     break
#   start+=1
#   end-=1
# if x==1:
#   print('not a valid palindrome')
# else:
#   print('valid palindrome')

# 2 method
data='NAMAN'
start=0
end=len(data)-1
x=0
while(start<end):
  if data[start]!=data[end]:
    x+=1
    break
  start+=1
  end-=1
if x==1:
  print('not a valid palindrome')
else:
  print('valid palindrome')

valid palindrome

In [ ]:
# str is SAARAS check whether it is a palindrome or not

# data='SARRAS'
# start=0
# end=len(data)-1
# x=0
# while(start<end):
#   if data[start]==data[end]:
#     x=0
#   else:
#     x+=1
#     break
#   start+=1
#   end-=1
# if x==0:
#   print("valid palindrome")
# else:
#   print("Not a valid palindrome")

# 2 method
data='SARRAS'
if data==data[::-1]:
  print("Valid palindrome")
else:
  print("Not a valid palindrome")

Valid palindrome

In [ ]:
# nested loops
# loop inside the loop

# 1 method
# for x in range(1,5):
#   print('employee',x)
#   for y in range(1,x+1):
#     print('food coupon',y)

# 2 method
# num=1
# for x in range(1,5):
#   print('employee',x)
#   for y in range(1,num+1):
#     print('food coupon',y)
#   num+=1

# reverse the same
for x in range(1,5):
  print('employee',x)
  for y in range(x,5): #4,x-1,-1    5,x,-1
    print('food coupon',y)

employee 1
food coupon 1
food coupon 2
food coupon 3
food coupon 4
employee 2
food coupon 2
food coupon 3
food coupon 4
employee 3
food coupon 3
food coupon 4
employee 4
food coupon 4

In [ ]:
for i in range(2,8):
  for j in range(1,11):
    print(i*j,end=" ")

2 4 6 8 10 12 14 16 18 20 3 6 9 12 15 18 21 24 27 30 4 8 12 16 20 24 28 32 36 40 5 10 15 20 25 30 35 40 45 50 6 12 18 24 30 36 42 48 54 60 7 14 21 28 35 42 49 56 63 70