<a href="https://colab.research.google.com/github/AnmolHemani/Python/blob/main/Day_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
data='regex'

# 1 method
# for i in data:
#   print(i)

# 2 method
for i in range(0,5):
  print(i,data[i])

0 r
1 e
2 g
3 e
4 x

In [5]:
data='regexsoftware'
for i in range(0,len(data)):
  print(i,data[i])

0 r
1 e
2 g
3 e
4 x
5 s
6 o
7 f
8 t
9 w
10 a
11 r
12 e

In [9]:
# take a str and print all the vowels
# 1 method
# str='Anmol Hemani'
# for i in str:
#   if i in 'aeiouAEIOU':
#     print(i)

# 2 method
# str='anmol hemani'
# for i in range(0,len(str)):
#   if str[i] in 'aeiouAEIOU':
#     print(str[i])

# 3 method
str='anmol hemani'
for i in range(0,len(str)):
  if str[i]=='a' or str[i]=='e' or str[i]=='i' or str[i]=='o' or str[i]=='u':
    print(str[i])

a
o
e
a
i

In [22]:
# count the consonant in a str
# str='AnmolHemani'
# count=0

# 1 method
# for i in str:
#   if i not in 'aeiouAEIOU':
#     count+=1
# print(count)

# 2 method
# for i in range(0,len(str)):
#   if str[i] not in 'aeiouAEIOU':
#     count+=1
# print(count)

# 3 method
str1='anmolhemani'
count=0
for i in range(0,len(str1)):
  if str1[i]!='a' and str1[i]!='e' and str1[i]!='i' and str1[i]!='o' and str1[i]!='u':
    count+=1
print(count)

6

In [25]:
# print half of the char of the str
data='rajasthan'
for i in range(0,len(data)//2):
  print(i,data[i])

0 r
1 a
2 j
3 a

In [30]:
# run a loop in which a num is divisible by 3 then skip it
# and print the remaining num
for i in range(1,21):
  if(i%3==0):
    continue
  else:
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20

In [38]:
# find whether a num is prime or not
x=int(input("Enter the num : "))
# condition=False
a=0
for i in range(2,x):
  if x%i==0:
    # condition=True
    a=1
    break
# if condition==True:
if a==1:
  print("Not Prime")
else:
  print("Prime")

# 2 method we can do in this way
# but this approach is only use in python so avoid it

# num=7
# for i in range(2,num):
#   if num%i==0:
#     print("Not Prime")
#     break
# else:
#   print("Prime")

Enter the num : 14
Not Prime

In [40]:
# WHILE Loop

# if we know the range of the loop then we use for loop else while loop
# if we know the fix range of loop then we use for loop else while loop

In [42]:
i=1
while i<5:
  print(i)
  i+=1

1
2
3
4

In [47]:
# to find the starting 5 num which is div by 3
i=1
count=0
while count<5:
  if i%3==0:
    print(i)
    count+=1
  i+=1

3
6
9
12
15

In [78]:
# take a random num between 1 to 10 and run the loop until the total is up to 100
i=8
total=0
while total<100:
  total+=i
  print(i)
  i+=1
if total>100:
  total-=i
print("Total is : ",total)

8
9
10
11
12
13
14
15
16
Total is :  91

In [80]:
# Ascii value of A is 65 and a is 97.

In [81]:
# Learning Assignment
# Armstrong num
# fibonacci series