<a href="https://colab.research.google.com/github/AnmolHemani/Python/blob/main/Day_6_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [149]:
# ****
#  ****
#   ****
#    ****

for i in range(1,5):
  for k in range(1,i):
    print(" ",end="")
  for j in range(1,5):
    print("*",end="")
  print("")

****
 ****
  ****
   ****

In [150]:
# ******
# *    *
# *    *
# ******

for i in range(1,5):
  for j in range(1,7):
    if(i==1 or i==4 or j==1 or j==6):
      print("*",end="")
    else:
      print(" ",end="")
  print("")

******
*    *
*    *
******

In [151]:
# A
# AB
# ABC
# ABCD
# ABCDE

for i in range(1,6):
  c=65
  for j in range(1,i+1):
    print(chr(c),end="")
    c+=1
  print("")

A
AB
ABC
ABCD
ABCDE

In [152]:
# A
# BB
# CCC
# DDDD
# EEEEE

c=65
for i in range(1,6):
  for j in range(1,i+1):
    print(chr(c),end="")
  c+=1
  print("")

A
BB
CCC
DDDD
EEEEE

In [153]:
# E
# D E
# C D E
# B C D E
# A B C D E

for i in range(1,6):
  c=70
  c-=i
  for j in range(1,i+1):
    print(chr(c),end=" ")
    c+=1
  print("")

E
D E
C D E
B C D E
A B C D E

In [154]:
#         *
#       * *
#     * * *
#   * * * *
# * * * * *

for i in range(1,6):
  for k in range(i,5):
    print(" ",end=" ")
  for j in range(1,i+1):
    print("*",end=" ")
  print("")

        *
      * *
    * * *
  * * * *
* * * * *

In [155]:
#         1
#       1 2
#     1 2 3
#   1 2 3 4
# 1 2 3 4 5

for i in range(1,6):
  for k in range(i,5):
    print(" ",end=" ")
  for j in range(1,i+1):
    print(j,end=" ")
  print("")

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [156]:
# 1 2 3 4 5
#   1 2 3 4
#     1 2 3
#       1 2
#         1

for i in range(5,0,-1):
  for k in range(5,i,-1):
    print(" ",end=" ")
  for j in range(1,i+1):
    print(j,end=" ")
  print("")

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [157]:
# A B C D E
#   A B C D
#     A B C
#       A B
#         A

for i in range(5,0,-1):
  c=65
  for k in range(5,i,-1):
    print(" ",end=" ")
  for j in range(1,i+1):
    print(chr(c),end=" ")
    c+=1
  print("")

A B C D E
  A B C D
    A B C
      A B
        A

In [158]:
#     * * * * *
#    * * * * *
#   * * * * *
#  * * * * *
# * * * * *

for i in range(1,6):
  for k in range(4,i-1,-1):
    print(" ",end="")
  for j in range(1,6):
    print("*",end=" ")
  print("")

    * * * * *
   * * * * *
  * * * * *
 * * * * *
* * * * *

In [ ]:
#     1 2 3 4 5
#    1 2 3 4 5
#   1 2 3 4 5
#  1 2 3 4 5
# 1 2 3 4 5

for i in range(1,6):
  for k in range(4,i-1,-1):
    print(" ",end="")
  for j in range(1,6):
    print(j,end=" ")
  print("")

    1 2 3 4 5
   1 2 3 4 5
  1 2 3 4 5
 1 2 3 4 5
1 2 3 4 5

In [159]:
#     A B C D E
#    A B C D E
#   A B C D E
#  A B C D E
# A B C D E

for i in range(1,6):
  c=65
  for k in range(4,i-1,-1):
    print(" ",end="")
  for j in range(1,6):
    print(chr(c),end=" ")
    c+=1
  print("")

    A B C D E
   A B C D E
  A B C D E
 A B C D E
A B C D E

In [160]:
#    *
#   ***
#  *****
# *******

for i in range(1,5):
  for k in range(1,5-i):
    print(" ",end="")
  for j in range(1,2*i):
    print("*",end="")
  print("")

   *
  ***
 *****
*******

In [161]:
#    *
#   * *
#  *   *
# *******

for i in range(1,5):
  for k in range(1,5-i):
    print(" ",end="")
  for j in range(1,2*i):
    if(i==4 or j==1 or j==2*i-1):
      print("*",end="")
    else:
      print(" ",end="")
  print("")

   *
  * *
 *   *
*******

In [50]:
# *******
#  *****
#   ***
#    *

for i in range(4,0,-1):
  for k in range(1,5-i):
    print(" ",end="")
  for j in range(1,2*i):
    print("*",end="")
  print("")

*******
 *****
  ***
   *

In [162]:
# *
# **
# ***
# ****
# ***
# **
# *

for i in range(1,5):
  for j in range(1,i+1):
    print('*',end="")
  print("")
for i in range(1,4):
  for j in range(i,4):
    print("*",end="")
  print("")

*
**
***
****
***
**
*

In [163]:
#    *
#   **
#  ***
# ****
#  ***
#   **
#    *

for i in range(1,5):
  for k in range(4,i,-1):
    print(" ",end="")
  for j in range(1,i+1):
    print('*',end="")
  print("")
for i in range(1,4):
  for k in range(1,i+1):
    print(" ",end="")
  for j in range(i,4):
    print("*",end="")
  print("")

   *
  **
 ***
****
 ***
  **
   *

In [164]:
#    *
#   ***
#  *****
# *******
#  *****
#   ***
#    *

for i in range(1,5):
  for k in range(1,5-i):
    print(" ",end="")
  for j in range(1,2*i):
    print("*",end="")
  print("")
for i in range(3,0,-1):
  for k in range(1,5-i):
    print(" ",end="")
  for j in range(1,2*i):
    print("*",end="")
  print("")

   *
  ***
 *****
*******
 *****
  ***
   *

In [165]:
# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5

for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=" ")
  print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [166]:
# 1 2 3 4 5
# 1 2 3 4
# 1 2 3
# 1 2
# 1

for i in range(5,0,-1):
  for j in range(1,i+1):
    print(j,end=" ")
  print("")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [167]:
# 1
# 1 2
# 1   3
# 1     4
# 1 2 3 4 5

for i in range(1,6):
  for j in range(1,i+1):
    if(j==1 or i==5 or j==i):
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print("")

1
1 2
1   3
1     4
1 2 3 4 5

In [168]:
#         1
#       2 3 2
#     3 4 5 4 3
#   4 5 6 7 6 5 4
# 5 6 7 8 9 8 7 6 5

for i in range(1,6):
  for k in range(i,5):
    print(" ",end=" ")
  for j in range(i,i*2):
    print(j,end=" ")
  for l in range(i*2-2,i-1,-1):
    print(l,end=" ")
  print("")

# 2 method
# for i in range(1,6):
#   x=i
#   for s in range(i,5):
#     print(" ",end=" ")
#   for j in range(1,i+1):
#     print(x,end=" ")
#     x+=1
#   y=x
#   y-=2
#   for k in range(2,i+1):
#     print(y,end=" ")
#     y-=1
#   print("")

        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [169]:
#     1
#    1 2
#   1   3
#  1     4
# 1 2 3 4 5

for i in range(1,6):
  for k in range(i,5):
    print(" ",end="")
  for j in range(1,i+1):
    if(j==1 or i==5 or j==i):
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print("")

    1
   1 2
  1   3
 1     4
1 2 3 4 5

In [170]:
# 1 2 3 4 5
# 2     5
# 3   5
# 4 5
# 5

for i in range(1,6):
  for j in range(i,6):
    if(i==j or i==1 or j==5):
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print("")

1 2 3 4 5
2     5
3   5
4 5
5

In [171]:
#         *
#       * * *
#     * * * * *
#   * * * * * * *
# * * * * * * * * *
#   * * * * * * *
#     * * * * *
#       * * *
#         *

for i in range(1,6):
  for k in range(1,6-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    print("*",end=" ")
  print("")
for i in range(4,0,-1):
  for k in range(1,6-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    print("*",end=" ")
  print("")

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [172]:
#         1
#       1 2 3
#     1 2 3 4 5
#   1 2 3 4 5 6 7
# 1 2 3 4 5 6 7 8 9
#   1 2 3 4 5 6 7
#     1 2 3 4 5
#       1 2 3
#         1

for i in range(1,6):
  for k in range(1,6-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    print(j,end=" ")
  print("")
for i in range(4,0,-1):
  for k in range(1,6-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    print(j,end=" ")
  print("")

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1

In [173]:
# 1 2 3 4 5 6 7 8 9
#   1 2 3 4 5 6 7
#     1 2 3 4 5
#       1 2 3
#         1
#       1 2 3
#     1 2 3 4 5
#   1 2 3 4 5 6 7
# 1 2 3 4 5 6 7 8 9

for i in range(5,0,-1):
  for k in range(1,6-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    print(j,end=" ")
  print("")
for i in range(2,6):
  for k in range(1,6-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    print(j,end=" ")
  print("")

1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [174]:
# A B C D E F G H I
#   A B C D E F G
#     A B C D E
#       A B C
#         A
#       A B C
#     A B C D E
#   A B C D E F G
# A B C D E F G H I

for i in range(5,0,-1):
  c=65
  for k in range(1,6-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    print(chr(c),end=" ")
    c+=1
  print("")
for i in range(2,6):
  c=65
  for k in range(1,6-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    print(chr(c),end=" ")
    c+=1
  print("")

A B C D E F G H I
  A B C D E F G
    A B C D E
      A B C
        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

In [175]:
# * * * * *
# *       *
# *       *
# *       *
# * * * * *

for i in range(1,6):
  for j in range(1,6):
    if(i==1 or i==5 or j==1 or j==5):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print("")

* * * * *
*       *
*       *
*       *
* * * * *

In [176]:
# 1 2 3 4 5
# 1       5
# 1       5
# 1       5
# 1 2 3 4 5

for i in range(1,6):
  for j in range(1,6):
    if(i==1 or i==5 or j==1 or j==5):
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print("")

1 2 3 4 5
1       5
1       5
1       5
1 2 3 4 5

In [177]:
# A B C D E
# A       E
# A       E
# A       E
# A B C D E

for i in range(1,6):
  c=65
  for j in range(1,6):
    if(i==1 or i==5 or j==1 or j==5):
      print(chr(c),end=" ")
    else:
      print(" ",end=" ")
    c+=1
  print("")

A B C D E
A       E
A       E
A       E
A B C D E

In [178]:
#         *
#       *   *
#     *       *
#   *           *
# *               *
#   *           *
#     *       *
#       *   *
#         *

for i in range(1,6):
  for k in range(1,6-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    if(j==1 or j==2*i-1):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print("")
for i in range(4,0,-1):
  for k in range(1,6-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    if(j==1 or j==2*i-1):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print("")

        *
      *   *
    *       *
  *           *
*               *
  *           *
    *       *
      *   *
        *

In [179]:
#         1
#       1   3
#     1       5
#   1           7
# 1               9
#   1           7
#     1       5
#       1   3
#         1

for i in range(1,6):
  for k in range(1,6-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    if(j==1 or j==2*i-1):
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print("")
for i in range(4,0,-1):
  for k in range(1,6-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    if(j==1 or j==2*i-1):
      print(j,end=" ")
    else:
      print(" ",end=" ")
  print("")

        1
      1   3
    1       5
  1           7
1               9
  1           7
    1       5
      1   3
        1

In [180]:
#         A
#       A   C
#     A       E
#   A           G
# A               I
#   A           G
#     A       E
#       A   C
#         A

for i in range(1,6):
  c=65
  for k in range(1,6-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    if(j==1 or j==2*i-1):
      print(chr(c),end=" ")
    else:
      print(" ",end=" ")
    c+=1
  print("")
for i in range(4,0,-1):
  c=65
  for k in range(1,6-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    if(j==1 or j==2*i-1):
      print(chr(c),end=" ")
    else:
      print(" ",end=" ")
    c+=1
  print("")

        A
      A   C
    A       E
  A           G
A               I
  A           G
    A       E
      A   C
        A

In [181]:
#     1
#    1 1
#   1 2 1
#  1 3 3 1
# 1 4 6 4 1

for i in range(1,6):
  c=1
  for k in range(1,6-i):
    print(" ",end="")
  for j in range(1,i+1):
    print(c,end=" ")
    c=c*(i-j)//j
  print("")

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

In [182]:
# *        *
# **      **
# ***    ***
# ****  ****
# **********
# ****  ****
# ***    ***
# **      **
# *        *

for i in range(1,6):
  for j in range(1,i+1):
    print("*",end="")
  for k in range(1,6-i):
    print(" ",end="")
  for l in range(1,6-i):
    print(" ",end="")
  for m in range(1,i+1):
    print("*",end="")
  print("")
for i in range(1,5):
  for j in range(i,5):
    print("*",end="")
  for k in range(5-i,5):
    print(" ",end="")
  for l in range(5-i,5):
    print(" ",end="")
  for m in range(i,5):
    print("*",end="")
  print("")

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [183]:
# * * * * * * * * * *
# * * * *     * * * *
# * * *         * * *
# * *             * *
# *                 *
# *                 *
# * *             * *
# * * *         * * *
# * * * *     * * * *
# * * * * * * * * * *

for i in range(1,6):
  for j in range(i,6):
    print("*",end=" ")
  for k in range(6-i,5):
    print(" ",end=" ")
  for l in range(6-i,5):
    print(" ",end=" ")
  for m in range(i,6):
    print("*",end=" ")
  print("")
for i in range(1,6):
  for j in range(1,i+1):
    print("*",end=" ")
  for k in range(1,6-i):
    print(" ",end=" ")
  for l in range(1,6-i):
    print(" ",end=" ")
  for m in range(1,i+1):
    print("*",end=" ")
  print("")

* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *
*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *

In [184]:
#         *
#       * * *
#     *   *   *
#   *     *     *
# * * * * * * * * *

for i in range(1,6):
  for k in range(1,6-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    if(i==5 or j==1 or j==2*i-1 or j==i):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print("")

        *
      * * *
    *   *   *
  *     *     *
* * * * * * * * *