<a href="https://colab.research.google.com/github/AnmolHemani/Python/blob/main/Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# String indexing and slicing
# collection of character
#          -4-3-2-1
city="RAJASTHAN"
#     0123.....

In [4]:
city='Rajasthan'
print(city[0])
print(city[0:4])
print(city[0:4:1])
print(city[0:])
print(city[:4])

R
Raja
Raja
Rajasthan
Raja

In [28]:
# There are 7 operators in python
# 1. airthmetic
# 2. comparison
# 3. assignment
# 4. logical
# 5. membership
# 6. identity
# 7. bitwise

In [7]:
# airthmetic operator
# when we do normal division we get answer in float
# and floor division gives answer in int
print(10/2)
print(10//2)

5.0
5

In [8]:
# comparison operator
# < > .....

In [9]:
# assignment operator
x=10
x=x+15 # x+=5
print(x)

25

In [10]:
# logical operator
# and or not

In [15]:
# membership operator
"y" in "yash"
# "Y" not in "yash"

True

In [19]:
# identity operator
# to check whether a var is a instance of class or not
# to check the memory address
x=10
# print(type(x))
type(x) is int
# type(x) is not str

True

In [23]:
# bitwise operator
# 0,1
# 8421 -->  0-15
# 128 64 32 16    8421 --> 0-255

#       8421
# 11 -> 1011
# 14 -> 1110

# if we use and operator
# 11 & 14 -> 1010
# 11 & 14
# 13 & 7 #-> 0101  # 13 -> 1101 7 -> 0111

# if we use or operator
10 | 14 #10->1010 14->1110  -> 1110

14

In [29]:
# number // 2**bit (right shift)
# number * 2**bit (left shift)
#54>>1
# 54//2**1
# 54//2->27
# 54>>1

In [32]:
# basic loops
# loops
# for loop
# for(int i=0;i<10,i++) in c
# range(start,stop,[step=1])
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [43]:
# for i in range(50,9,-1):
#   print(i)

# sum of 1 to 10
sum=0
for i in range(1,11):
    sum+=i
print(sum)

55

In [46]:
# count the num bte 70 to 3 in which 70 and 3 not included
count=0
for i in range(69,3,-1):
    count+=1
print(count)

66

In [48]:
# print the num which is div by 3
for i in range(1,14):
  if i%3==0:
    print(i)

3
6
9
12

In [55]:
sum=0
sum1=0
for i in range(55,21,-1):
  if(i%2==0):
    sum+=i
  elif(i%2!=0):
    sum1+=i
print(sum)
print(sum1)

646
663

In [59]:
# learning assignment
# what is the diff btw call by value and call by reference
# what is ascii value and utf value
# different data types in python
# difference btw is operator and == operator