<a href="https://colab.research.google.com/github/AnmolHemani/Python/blob/main/Day_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,5):
  for k in range(i,4):
    print(" ",end="")
  for j in range(1,i+1):
    print("*",end=" ")
  print("")

   *
  * *
 * * *
* * * *

In [ ]:
for i in range(1,5):
  for k in range(1,i):
    print(" ",end="")
  for j in range(i,5):
    print("*",end=" ")
  print("")

* * * *
 * * *
  * *
   *

In [ ]:
for i in range(1,5):
  c=65
  for k in range(1,i):
    print(" ",end="")
  for j in range(i,5):
    print(chr(c),end=" ")
    c+=1
  print("")

A B C D
 A B C
  A B
   A

In [ ]:
for i in range(1,5):
  c=65
  for k in range(i,4):
    print(" ",end="")
  for j in range(1,i+1):
    print(chr(c),end=" ")
    c+=1
  print("")

   A
  A B
 A B C
A B C D

In [22]:
for i in range(1,6):
  for j in range(1,i+1):
    if(j==1 or i==5 or j==i):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print("")

*
* *
*   *
*     *
* * * * *

In [50]:
c=1
for i in range(1,6):
  for k in range(i,5):
    print(" ",end="")
  for j in range(1,i+1):
    if(i==5 or j==1 or j==i):
      if(c<=10):
        print(c,end=" ")
      else:
        print(c,end="")
    else:
      print(" ",end=" ")
    c+=1
  print("")

    1
   2 3
  4   6
 7     10
1112131415

In [35]:
# list datatype
# collection of element
# stored based on index position
# liat mutuable database
# sequence datatype

x=[10,20,30,"hey",100.00]
print(type(x))

<class 'list'>

In [37]:
mylist=[10,20,30,40,"hey",100.00]
print(mylist[0:3])

[10, 20, 30]

In [39]:
mylist=[10,20,30,40,"hey",100.00]
mylist[0]=90 #update
print(mylist)

[90, 20, 30, 40, 'hey', 100.0]

In [42]:
mylist=[10,20,30,40,"hey",100.00]
mylist.append(500)     #added new data in list and append store only one data at a time.
print(mylist)

[10, 20, 30, 40, 'hey', 100.0, 500]

In [44]:
mylist=[10,20,30,40,"hey",100.00]
mylist.extend("hello")    #to add multiple data in the list but it can't able to add int and uses for loop in it.
mylist.extend([999,"hello"])
print(mylist)

[10, 20, 30, 40, 'hey', 100.0, 'h', 'e', 'l', 'l', 'o', 999, 'hello']

In [51]:
mylist=[10,20,30,40,"hey",100.00]
z=mylist.pop()
y=mylist.pop(0)
print(mylist)
print("z: ",z)
print("y: ",y)

[20, 30, 40, 'hey']
z:  100.0
y:  10

In [53]:
mylist=[10,20,30,40,"hey",100.00]
mylist.remove(30)  #in remove we give value to the remove to delete the data from the list
print(mylist)

[10, 20, 40, 'hey', 100.0]

In [55]:
mylist=[10,20,30,40,"hey",100.00]
for x in mylist:
  print(x)

10
20
30
40
hey
100.0

In [58]:
mylist=[10,20,30,40,"hey",100.00]
for x in range(0,len(mylist)):
  print(x,mylist[x])

0 10
1 20
2 30
3 40
4 hey
5 100.0

In [68]:
mylist=[10,20,30,40,"hey",100.00]
for i in range(0,len(mylist)):
  if (type(mylist[i])==int):
    print(mylist[i])

10
20
30
40