<a href="https://colab.research.google.com/github/AnmolHemani/Python/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# function
# block of code
# we can use it for converting your code into smaller portion of code
# help in reusability
# debugging
# def is a keyword to define the function

In [ ]:
def hello():  #funtion define
  print("Hey")   #block of code
  print("Anmol")
hello()   #function call
hello()

Hey
Anmol
Hey
Anmol

In [ ]:
def hello():
  z="Anmol"  #local variable
  print("Hey",z)
hello()

Hey Anmol

In [ ]:
def hello(z): #z is parameter / formal argument
  print("Hey",z)
hello("Anmol")  #Anmol is argument / formal parameter

Hey Anmol

In [ ]:
def hello(z,z1):
  print("Hey",z,z1)
hello("Anmol",100)

Hey Anmol 100

In [ ]:
xGlobal=10   #Global Variable
def hello():
  print("Hey",xGlobal)
hello()
print(xGlobal)

Hey 10
10

In [ ]:
xGlobal=10   #Global Variable
def hello():
  xGlobal="abc"  #Local Variable
  print("Hey",xGlobal)
hello()
print(xGlobal)

Hey abc
10

In [ ]:
x=10   #Global Variable
def hello():
  global x    #it changes the local var to global var
  x="abc"   #Local variable changes to Global Variable
  print("Hey",x)
hello()
print(x)

Hey abc
abc

In [ ]:
x=10
def func(x):   #x is local var
  print("Hey",x)
func(500)

Hey 500

In [ ]:
# learning assignment
# Valid paranthesis we have done it with list but try to do it with dict
# number to roman
# list comprehension
# dict comprehension

In [ ]:
def func(num):
  print("function is :",num)
  print(id(num))
x=10
func(x)
print(id(x))

function is : 10
10751144
10751144

In [ ]:
# Immutable datatype has no changed to global var when local var changed

def func(num):
  print("function is :",id(num),num)
  num=600
  print("function new :",id(num),num)
num=10
func(num)
print("Before :",id(num))
print("After :",id(num))

function is : 10751144 10
function new : 136849084393584 600
Before : 10751144
After : 10751144

In [ ]:
# Mutuable data type is vice versa of immutable data type

def func(num1):
  print("function is :",id(num1),num1)
  num1.append(30)
  print("function new :",id(num1),num1)
num=[10,20]
func(num)
print("Before :",id(num))
print("After :",id(num))

function is : 136849094835200 [10, 20]
function new : 136849094835200 [10, 20, 30]
Before : 136849094835200
After : 136849094835200

In [ ]:
def func(num1):
  num1.append(30)
num=[10,20]
func(num)
print("New num :",num)

New num : [10, 20, 30]

In [ ]:
# Type of argument passing in function

def func(x,y,z):
  print("x :",x,"y :",y,"z :",z)
func(10,20,30)  # Required argument is equal to parameter
func(30,10,20)  # Positional argument is based on the position given in parameter

x : 10 y : 20 z : 30
x : 30 y : 10 z : 20

In [ ]:
def func(x,y,z):
  print("x :",x,"y :",y,"z :",z)
func(y=20,x=10,z=30)  # keyword argument we have fixed the argument value of parameter
func(10,z=20,y=30) # if we use both keyword and position argument give the position according to the parameter

x : 10 y : 20 z : 30
x : 10 y : 30 z : 20

In [ ]:
def func(x,y,z=30):
  print("x :",x,"y :",y,"z :",z)
func(10,y=20)  # default argument

x : 10 y : 20 z : 30

In [ ]:
# Prime num

def primeCheck(num):
  x=0
  for i in range(2,num):
    if(num%i==0):
      x=1
      break
  if(x==1):
    print("Not a Prime num.")
  else:
    print("Prime num.")
num=int(input("Enter the num :"))
primeCheck(num)

Enter the num :11
Prime num.

In [ ]:
# Armstrong num

def armStrong(num):
  sum=0
  temp=num
  while(num>0):
    rem=num%10
    sum=sum+rem*rem*rem
    num=num//10
  if(temp==sum):
    print("Armstrong num.")
  else:
    print("Not a Armstrong num.")
num=int(input("Enter the num :"))
armStrong(num)

Enter the num :153
Armstrong num.

In [ ]:
def func(x):
  print(x+10) # Print function just display the output and doesn't return and we can't store it's value in any var
  return "abc" # return we give us the value and we can store it in var
y=func(10)  #y=abc
print("Y :",y)

20
Y : abc

In [ ]:
# Learning Assignment

# virtual environment
# first class function vs high ordered function

In [9]:
def func(eid=20 , name="anmol"):
  print("eid:",eid,"name:",name)

func(eid=10)
func(10,"regex")
func()

eid: 10 name: anmol
eid: 10 name: regex
eid: 20 name: anmol

In [18]:
# Variable length argument (*var) (*args)
# we use this mostly when we want to keep the things optional

def func(*data):
  print(data,type(data))

func()
func(10,20)
func(10,20,"abc")

() <class 'tuple'>
(10, 20) <class 'tuple'>
(10, 20, 'abc') <class 'tuple'>

In [19]:
# Keyword variable length argument is used to keep better the things then var length argument
# (**var) (**kwargs)

# *args and **kwargs (for interview these var can be used for difference b/w var len arg and keyword var len arg)

def func(**data):
  print(data, type(data))

func(eid=10, salary=20)
func(eid=10, salary=20, name="abc")

{'eid': 10, 'salary': 20} <class 'dict'>
{'eid': 10, 'salary': 20, 'name': 'abc'} <class 'dict'>

In [29]:
# First Class function

# Assigned to Variables: We can assign functions to variables.
# Passed as Arguments: We can pass functions as arguments to other functions.
# Returned from Functions: Functions can return other functions.
# Stored in Data Structures: Functions can be stored in data structures such as lists, dictionaries, etc.

def func(num):
  print(num+5)
  return num+5

y=func(20)
print("Y:",y)

25
Y: 25

In [34]:
# --> Assigned to Variables

def func():
  print("hello func")

x=func  # we have assigned func to a var
print(func,x) #both have the same memory address
func()
x()

<function func at 0x79ce380fcae0> <function func at 0x79ce380fcae0>
hello func
hello func

In [39]:
def square(num):
  print(num**2)

def cube(x,y):
  print("cube:",x,y)

cube(10 , square(4))
cube(10 , square)

16
cube: 10 None
cube: 10 <function square at 0x79ce4c69ff60>

In [40]:
def square(num):
  print(num**2)

def cube(x,y):
  print("cube:",x,y)
  y(4)

cube(10 , square)

cube: 10 <function square at 0x79ce4c69f240>
16

In [54]:
# If a parameter of a func is passed to another func then it is also known as high order function.
# all high order func are first class func but vice versa is not possible.

def square(num):
  return(num**2)

def cube(x,y):
  print("cube:",x,y(x))
  print("cube:",x*y(x))

cube(10 , square)

cube: 10 100
cube: 1000

In [1]:
# Category A1 (my category)

# Leetcode
# Three sum (ques 15)
# Two Sum II (ques 167) --> done
# Best buy to Buy and Sell Stock (ques 121) --> done

# Pyramid Questions
#    *
#   * *
#  *   *
# *******

for i in range(1,5):
  for k in range(1,5-i):
    print(" ",end="")
  for j in range(1,2*i):
    if(i==4 or j==1 or j==2*i-1):
      print("*",end="")
    else:
      print(" ",end="")
  print("")
print("")

#         1
#       2 3 2
#     3 4 5 4 3
#   4 5 6 7 6 5 4
# 5 6 7 8 9 8 7 6 5

for i in range(1,6):
  for k in range(i,5):
    print(" ",end=" ")
  for j in range(i,i*2):
    print(j,end=" ")
  for l in range(i*2-2,i-1,-1):
    print(l,end=" ")
  print("")
print("")

#         *
#       * * *
#     *   *   *
#   *     *     *
# * * * * * * * * *

for i in range(1,6):
  for k in range(1,6-i):
    print(" ",end=" ")
  for j in range(1,2*i):
    if(i==5 or j==1 or j==2*i-1 or j==i):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print("")
print("")

#  Category A2

# Nested loop overview
# --> take a num from 2 to 5 and print its table
for i in range(2,6):
  for j in range(1,11):
    print(i*j,end=" ")
print("")
print("")

# --> take a num from 6 to 2 and print its table
for i in range(6,1,-1):
  for j in range(1,11):
    print(i*j,end=" ")
print("")
print("")

# --> take a num from 6 to 2 and print its table in reverse
for i in range(6,1,-1):
  for j in range(10,0,-1):
    print(i*j,end=" ")
print("")
print("")

# Check a num is a prime num or not
num=int(input("Enter the num :"))
a=0
for i in range(2,num):
  if(num%i==0):
    a=1
if(a==1):
  print("Not a Prime num.")
else:
  print("Prime num.")
print("")

# Take a range of values from 2 to 19 and print all prime num
a=0
for i in range(2,20):
  for j in range(2,i):
    if(i%j==0):
      break
  else:
    print(i,end=" ")
print("")
print("")
# Patterns
# --> ****
#     ***
#     **
#     *
for i in range(1,5):
  for j in range(i,5):
    print("*",end="")
  print("")
print("")

# --> $$$*
#     $$**
#     $***
#     ****
for i in range(1,5):
  for k in range(4,i,-1):
    print("$",end="")
  for j in range(1,i+1):
    print("*",end="")
  print("")

# Read about list and check all its func append pop remove sort insert.

   *
  * *
 *   *
*******

        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

        *
      * * *
    *   *   *
  *     *     *
* * * * * * * * *

2 4 6 8 10 12 14 16 18 20 3 6 9 12 15 18 21 24 27 30 4 8 12 16 20 24 28 32 36 40 5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60 5 10 15 20 25 30 35 40 45 50 4 8 12 16 20 24 28 32 36 40 3 6 9 12 15 18 21 24 27 30 2 4 6 8 10 12 14 16 18 20

60 54 48 42 36 30 24 18 12 6 50 45 40 35 30 25 20 15 10 5 40 36 32 28 24 20 16 12 8 4 30 27 24 21 18 15 12 9 6 3 20 18 16 14 12 10 8 6 4 2

Enter the num :5
Prime num.

2 3 5 7 11 13 17 19

****
***
**
*

$$$*
$$**
$***
****

In [1]:
# Lambda function
# anonymous function => no name function
# one line function
# code readable

In [6]:
def func(x):
  y=x.split(" ")
  print(y)

a=func
a("hey hyy")

['hey', 'hyy']

In [9]:
# lambda parameter : expression
a=lambda x: x.split(" ")
a("hey hyy")

['hey', 'hyy']

In [10]:
# map, filter
# [10,20,30,40,55,61]
# map basically takes each element at a time and returns the value.

In [32]:
def func5(num):
  return num*5

out=map(func5, [10,20,30,40,55,61] )
next(out)

50

In [48]:
list(map(lambda num: num*5, [10,20,30,40,55,61]))

[50, 100, 150, 200, 275, 305]

In [55]:
# Take a list of value and get only the even digit using filter
list1=list(map(lambda num: num%2==0,[10,20,30,40,55,61]))
list2=list(filter(lambda num: num%2==0,[10,20,30,40,55,61]))
print(list1)
print(list2) #filter will help us to get the true value output according to the condition.

[True, True, True, True, False, False]
[10, 20, 30, 40]