# Pattern

In [8]:
for i in range(0,4):
    for j in range(0,4):
        print("*",end=" ")
    print("")

* * * *
* * * *
* * * *
* * * *

In [2]:
for i in range(0,4):
    for j in range(0,i+1):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *

In [4]:
for i in range(0,4):
    for j in range(0,i+1):
        print(j,end=" ")
    print("")

0
0 1
0 1 2
0 1 2 3

In [7]:
for i in range(0,4):
    for j in range(0,i+1):
        print(j+2,end=" ")
    print("")

2
2 3
2 3 4
2 3 4 5

In [10]:
num=65
for i in range(0,3):
    for j in range(0,i+1):
        print(num,end=" ")
        num+=1
    print("")

65
66 67
68 69 70

In [11]:
num=65
for i in range(0,3):
    for j in range(0,i+1):
        print(chr(num),end=" ")
        num+=1
    print("")

A
B C
D E F

In [14]:
for i in range(0,4):
    for j in range(i,4):
        print("*",end=" ")
    print("")

* * * *
* * *
* *
*

In [17]:
for i in range(0,4):
    num=0
    for j in range(i,4):
        print(num,end=" ")
        num+=1
    print("")

0 1 2 3
0 1 2
0 1
0

In [19]:
num=10
for i in range(0,5):
    for j in range(i,5):
        print(num,end=" ")
        num+=1
    print("")

10 11 12 13 14
15 16 17 18
19 20 21
22 23
24

In [21]:
for i in range(1,5):
    for j in range(i,5):
        print(j,end=" ")
    print("")

1 2 3 4
2 3 4
3 4
4

In [24]:
for i in range(0,4):
    for j in range(i,4):
        print(j+1,end=" ")
    print("")

1 2 3 4
2 3 4
3 4
4

In [1]:
for i in range(0,5):
    for j in range(0,5-i):
        print((j+1)%2,end=" ")
    print("")

# or 

# for i in range(0,5):
#     for j in range(1,6-i):
#         print(j%2,end=" ")
#     print("")

# or 

# for i in range(0,5):
#     for j in range(0,5-i):
#         if j%2==0:
#             print("1",end=" ")
#         else:
#             print("0",end=" ")
#     print("")

1 0 1 0 1
1 0 1 0
1 0 1
1 0
1

In [39]:
num=1
for i in range(0,5):
    for j in range(0,5-i):
        if j%2==0:
            print(num,end=" ")
        else:
            print("0",end=" ")
    num+=1
    print("")

# or

# for i in range(0,5):
#     for j in range(0,5-i):
#         if j%2==0:
#             print(i+1,end=" ")
#         else:
#             print("0",end=" ")
#     print("")

1 0 1 0 1
2 0 2 0
3 0 3
4 0
5

In [42]:
for i in range(0,4):
    for k in range(i,3):
        print(" ",end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
    print("")

      *
    * *
  * * *
* * * *

In [47]:
for i in range(0,5):
    for k in range(0,i):
        print(" ",end=" ")
    for j in range(i,5):
        print("*",end=" ")
    print("")

* * * * *
  * * * *
    * * *
      * *
        *

In [50]:
for i in range(0,5):
    for k in range(0,i):
        print(" ",end=" ")
    for j in range(i,5):
        if(i==j or i==0 or j==4):
            print("*",end=" ")
        else:
            print(" ",end=" ")   
    print("")

* * * * *
  *     *
    *   *
      * *
        *

In [51]:
for i in range(0,5):
    for j in range(i,5):
        if(i==j or i==0 or j==4):
            print("*",end=" ")
        else:
            print(" ",end=" ")   
    print("")

* * * * *
*     *
*   *
* *
*

In [10]:
num=1
for i in range(0,5):
    for j in range(i,5):
        if(i==j or i==0 or j==4):
            print(num,end=" ")
        else:
            print(" ",end=" ") 
        num+=1
    print("")

1 2 3 4 5
6     9
10   12
13 14
15

# Day 2

In [17]:
for i in range(0,3):
    for k in range(0,2-i):
        print(" ",end=" ")
    for j in range(0,2*i+1):
        print("*",end=" ")
    print("")

    *
  * * *
* * * * *

In [29]:
for i in range(0,4):
    for k in range(0,i):
        print(" ",end=" ")
    for j in range(0,2*4-2*i-1):
        print("*",end=" ")
    print("")

* * * * * * *
  * * * * *
    * * *
      *

# List

-> Collection of elements of different multiple data types
-> Mutuable 
-> index position

In [32]:
list1=[10,20,60,80,9]
for i in range(0,len(list1)):
    for j in range(i+1,len(list1)):
        if(list1[i]<list1[j]):
            list1[i],list1[j]=list1[j],list1[i]
    print("Sorting = ", list1)

Sorting =  [80, 10, 20, 60, 9]
Sorting =  [80, 60, 10, 20, 9]
Sorting =  [80, 60, 20, 10, 9]
Sorting =  [80, 60, 20, 10, 9]
Sorting =  [80, 60, 20, 10, 9]

Leetcode => Best Time to Buy and Sell Stock

In [36]:
l1=[7,1,5,3,6,4]
max1=0
for i in range(0,len(l1)):
    for j in range(i+1,len(l1)):
        if(max1<l1[j]-l1[i]):
            max1=l1[j]-l1[i]
print(max1)

5

In [37]:
# Assignment
# We have a list and sort it with one loop
# Best time to buy and sell stock with one loop
# Leetcode two sum problem
# Leetcode plus 1
# You have been given two list and having same num of elements and have to merge both the list by removing the duplicate elements but with a single loop

In [1]:
# We have a list and sort it with one loop
l1=[10,20,60,80,9]
a=0
while(a<len(l1)-1):
    if(l1[a]<l1[a+1]):
        l1[a],l1[a+1]=l1[a+1],l1[a]
        a=0
    else:
        a+=1
print(l1)

[80, 60, 20, 10, 9]

In [4]:
# Best time to buy and sell stock with one loop
l1=[7,1,5,3,6,4]
a=0
b=1
max1=0
while(b<len(l1)):
    if(l1[a]<l1[b]):
        profit=l1[b]-l1[a]
        if(profit>max1):
            max1=profit
    else:
        a=b
    b+=1
print(max1)

5

In [8]:
# two sum problem
nums = [2,7,11,15]
target = 9
for i in range(0,len(nums)):
    for j in range(i+1,len(nums)):
        if(nums[i]+nums[j]==target):
            print("Index position : ",i,j)
            print("Elements :",nums[i],nums[j])

Index position :  0 1
Elements : 2 7

In [9]:
# You have been given two list and having same num of elements and have to merge both the list by removing the duplicate elements but with a single loop
l1 = [1, 2, 3, 4, 5]
l2 = [4, 5, 6, 7, 8]
res=[]
for i in l1+l2:
    if i not in res:
        res.append(i)
print(res)

[1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
# Leetcode plus 1
digits = [1,2,3]
str1=""
res=[]
for i in digits:
    str1+=str(i)
s1=int(str1)+1
for i in str(s1):
    res.append(int(i))
print(res)

[1, 2, 4]

# Day 3

In [27]:
# 3 sum
nums = [-1,0,1,2,-1,-4]
list1=[]
nums.sort()
for i in range(0,len(nums)):
    for j in range(i+1,len(nums)):
        for k in range(j+1,len(nums)):
            if (i != j and i != k and j != k and nums[i] + nums[j] + nums[k] == 0) :
                if [nums[i] , nums[j] , nums[k]] in list1:
                    continue
                else:
                    list1.append([nums[i] , nums[j] , nums[k]])
print(list1)

[[-1, -1, 2], [-1, 0, 1]]

In [1]:
# 3 sum
nums = [-1,0,1,2,-1,-4]
list1=[]
nums.sort()
for i in range(0,len(nums)-2):
    start=i+1
    end=len(nums)-1
    while(start<end):
        if (i != start and i != end and start != end and nums[i] + nums[start] + nums[end] == 0):
            list1.append([nums[i] , nums[start] , nums[end]])
            start+=1
            end-=1
        elif(nums[i] + nums[start] + nums[end] > 0):
            end-=1
        else:
            start+=1
print(list1)

[[-1, -1, 2], [-1, 0, 1], [-1, 0, 1]]

# Dict

Key value pair  ,  value can be duplicate or unique ,  keys are immutable datatype  ,  dict is ordered

In [9]:
# [10,25,14,6,8,1,78,521,8,654,1,2,521] find k highest
# dict , list comprehension , set comprehension

In [6]:
# Find k highest value
l1=[10,25,14,6,8,1,78,521,8,654,1,2,521] 
l1.sort(reverse=True)
a=0
while(a<len(l1)-1):
    if(l1[a]==l1[a+1]):
        l1.remove(l1[a+1])
    else:
        a+=1
print(l1)
k=int(input("Enter the position :"))
if(k>len(l1)):
    print("Error : Out of Range , Enter the position of k in range of the list.")
else:
    print(f"The highest value on {k} position in the list",l1[k-1])

[654, 521, 78, 25, 14, 10, 8, 6, 2, 1]

Enter the position : 5

The highest value on 5 position in the list 14

In [9]:
# Dict comprehension
dict1 = {x:x**2 for x in range(10) if x%2==0}
print(dict1)

# list comprehension
list1=[x for x in range(10) if x%2==0]
print(list1)

# set comprehension
set1={x for x in range(10) if x%2==0}
print(set1)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}
[0, 2, 4, 6, 8]
{0, 2, 4, 6, 8}

# Day 4

In [2]:
# convert the integer num to roman num using dict
num1=int(input("Enter the num to convert into roman :"))
dict1={1000:"M",900:"CM",500:"D",400:"CD",100:"C",90:"XC",50:"L",40:"XL",10:"X",9:"IX",5:"V",4:"IV",1:"I"}
roman_num=""
for i in dict1:
  while(num1>=i):
    roman_num+=dict1[i]
    num1-=i
print(roman_num)

Enter the num to convert into roman : 7854

MMMMMMMDCCCLIV

# Set

datatype    unique    {}   myset=set({})

In [3]:
myset={10,20,30,34,10}
print(myset)

{10, 20, 34, 30}

In [5]:
myset.add(50)
print(myset)

{34, 10, 50, 20, 30}

In [6]:
# for adding more then one element
myset.update({100,200})
print(myset)

{34, 100, 200, 10, 50, 20, 30}

In [7]:
myset.pop() #delete the random element

34

In [8]:
#  diff between list and tuple
# list vs dict

In [14]:
# identity operator reference to memory address
# python store 0-256 num in cache memory
x=256
a=256
a=x is a
print(id(a),id(x))
a

140730001653392 140730002454936

True

In [12]:
x=257
a=257
a=x is a
print(id(a),id(x))
a

140730001653424 2981343799248

False

In [15]:
# Call  by object reference
x=257
a=x
a=x is a
print(id(a),id(x))
a

140730001653392 2981343799024

True

# Functions

In [19]:
# collection of statement or block of code 
# write a logic and use it multiple times
# code reusability

# def func():
#    logic

In [24]:
y=20 #global var
def func():
    x1=10 #local var
    print("hey anmol",x1,y)
func()
print(y)

hey anmol 10 20
20

In [25]:
# life scope of a var : esi jgh jha jha hm us var ko use kr skte h

In [32]:
# global var : we have changed the var globally outside the func then we see this changes for all time
# global var ka local m koi change kia to vo change local hi hoga global nhi

In [30]:
y=20 
def func():
    global y
    x1=10 
    y=500
    print("hey anmol",x1,y)
func()
print(y)

hey anmol 10 500
500

In [31]:
y=20 
def func():
    x1=10 
    y=500
    print("hey anmol",x1,y)
func()
print(y)

hey anmol 10 500
20

In [36]:
def func(z):
    print("hey anmol",z)
func(20)
func("hemani")

hey anmol 20
hey anmol hemani

In [37]:
# we write z:int for understanding that give int value to z but it can be any type of data
def func(z:int):
    print("hey anmol",z)
func(20)
func("hemani")

hey anmol 20
hey anmol hemani

In [42]:
def func(z:int,k:str): #parameter
    print("hey anmol",z,k)
func(20,"hemani") #argument
func("hemani",20)

hey anmol 20 hemani
hey anmol hemani 20

In [43]:
# learning assignment
# keyword argument and default argument
# var len argument and keyword len argument (args and kwargs)
# high order func and first class func