<a href="https://colab.research.google.com/github/AnmolHemani/Python/blob/main/set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# set
# datatype
# unique element
# no index

myset=({}) #empty set

In [3]:
myset={10,20,505,10,10,204,60}
print(myset)

{20, 505, 10, 204, 60}

In [8]:
myset.add(500)
print(myset)

{20, 500, 505, 10, 204, 60}

In [10]:
myset.discard(500)
print(myset)

{20, 505, 10, 204, 60}

In [12]:
myset.update([100,200,300])
print(myset)

{20, 100, 300, 200, 505, 10, 204, 60}

In [18]:
myset={1,2,3,4}
myset1={4,5,6,3}
myset.union(myset1)

{1, 2, 3, 4, 5, 6}

In [27]:
myset={1,2,3,4}
myset1={4,5,6,3}
myset.difference(myset1)
print(myset)
print(myset1)

{1, 2, 3, 4}
{3, 4, 5, 6}

In [26]:
myset={1,2,3,4}
myset1={4,5,6,3}
myset.difference_update(myset1)
print(myset)
print(myset1)

{1, 2}
{3, 4, 5, 6}

In [45]:
myset={1,2,3,4,5,6,7,8}
myset1={4,5,6,3}
s1=myset.issuperset(myset1)
print(s1)

True

In [39]:
myset={1,2,3,4,5,6,7,8}
myset1={4,5,6,3}
s1=myset.symmetric_difference(myset1)
print(s1)

{1, 2, 7, 8}

In [44]:
myset={1,2,3,4,5,6,7,8}
myset1={4,5,6,3}
myset2={10,11,12}
s1=myset.isdisjoint(myset1)
print(s1)
s2=myset.isdisjoint(myset2)
print(s2)

False
True

In [48]:
myset={1,2,3,4,5,6,7,8}
myset1={4,5,6,3}
s1=myset1.issubset(myset)
print(s1)

True

In [50]:
myset={1,2,3,4,5,6,7,8}
myset1={4,5,6,3}
s1=myset.intersection(myset1)
print(s1)

{3, 4, 5, 6}