<a href="https://colab.research.google.com/github/AnmolHemani/Python/blob/main/Test_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def check(num):
  temp=num
  rem=0
  sum=0
  dict1={}
  while num>0:
    rem=num%10
    sum=sum*10+rem
    num=num//10
  print(sum)
  if temp==sum:
      dict1[sum]=True
  else:
    dict1[sum]=False
  return dict1[sum]
num=int(input("enter a number"))
y=check(num)
print(y)

enter a number121
121
True

In [2]:
dict1={}
str1="ababa"
for i in range(0,len(str1)):
  for j in range (1,len(str1)+1):
    if str1[i:j] not in dict1:
      dict1[str1[i:j]]=1
    else:
      dict1[str1[i:j]]+=1
print(dict1)

{'a': 3, 'ab': 2, 'aba': 2, 'abab': 1, 'ababa': 1, '': 10, 'b': 2, 'ba': 2, 'bab': 1, 'baba': 1}

In [5]:
for i in range(1,6):
  for j in range(1,i):
    print(" ",end=" ")
  for k in range(i,6):
    if ( i==1 or k==5 or k==i):
      print("*",end=" ")
    else :
      print(" ",end=" ")
  print()

* * * * *
  *     *
    *   *
      * *
        *

In [6]:
for i in range(1,5):
  for j in range(i,5):
    print("",j,end=" ")
  for k in range(i+1,5):
    print(" ",end="")

  print()

 1  2  3  4
 2  3  4
 3  4
 4

In [7]:
str1="aabcdeefa"
count=0
char=""
list1=[]
for i in str1:
  if char==i:
    count+=1
  else:
    if count!=0:
      list1.append(count)
    count=1
    char=i
print(list1)

[2, 1, 1, 1, 2, 1]

In [8]:
for i in range(1,5):
  for j in range(1,i):
    print(" ",end="")
  for k in range(i,5):
    print("",k,end="")
  print()

 1 2 3 4
  2 3 4
   3 4
    4